body {
  background-color:#C0C0C0;
}

h1 {
  color: #006;
  font-size:150%;
}

strong {
  font-size:250%;
}

img {
  width:20%;
  float:left;
    margin-right:20px;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #006;
}

