body {
  background-color:#C0C0C0;
}

p {
  font-family:'Lato', 'Noto Sans Japanese', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size:100%;
}


h1 {
  padding-top:20px;
  color: #006;
  font-size:150%;
}

strong {
  font-size:200%;
}

img {
  width:25%;
  float:left;
  margin-right:20px;
}

.prof{
  margin-left: 40px;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #006;
}

